################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.NET-Web/v17/DocumentLayout.backup.json
